# .env.example

# Local database configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Setting up the database on AWS
AWS_DB_HOST=
AWS_DB_USER=
AWS_DB_PASSWORD=
AWS_DB_NAME=
AWS_DB_PORT=

# General variables
PORT=5000
ENVIRONMENT=development # Puede ser 'development', 'production', etc.
USE_AWS_DB=true # Set to 'true' if you want to use AWS for local testing
NODE_ENV=development

# SSL Configuration
SSL_KEY_PATH=certs/private.key
SSL_CERT_PATH=certs/certificate.crt
