<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Express App</title>
</head>
<body>
  <h1>This is the SIVEP Express App</h1>
  <form action="/submit" method="POST">
    <input type="text" name="name" placeholder="Enter your name here">
    <button type="submit">Submit</button>
  </form>
   <input type="button" value="modulo-ventero-resolucion" onclick="window.location.href='/modulo-ventero-resolucion'" name="name">
   <input type="button" value="usuarios-testing" onclick="window.location.href='/usuarios-testing'" name="name">
</body>
</html>
